name: Rust

on:
  push:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: What kind of libssl is available on the building machine?
      run: ls -la /lib64/
    - name: Create a release build
      run: cargo build --release
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        path: target/pod-philippkueng-mail
        if-no-files-found: error
